#homepage {
    background-color: #111B21;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 350px auto;
    grid-template-rows: 45px auto;
    font-size: 10px;
    /* font-family: inherit; */
    font-family: "Segoe UI"
    "Helvetica Neue"
    Helvetica
    "Lucida Grande"
    Arial
    Ubuntu
    Cantarell
    "Fira Sans"
    sans-serif;
}

.borderbars {
    background-color: #111B21;
}

.contentdiv {
    background-color: #222E35;
    position: relative;
}

#users,
#chat {
    border: 1px solid #111B21;
}

#users {
    border-top-left-radius: 10px;
}

#search {
    font-size: 1.1em;
    border: 1px solid black;
    border-bottom: 3px solid #1EBEA5;
    color: #f0f0f0;
    border-radius: 5px;
    padding-right: 2px;
    background-color: #00000000;
    background-image: url("../src/assets/images/search.png");
    background-size: 2.5em;
    background-repeat: no-repeat;
    background-position-x: right;

    &&::placeholder {
        color: #929292;
    }
}

input[type=text]:focus {
    border: 0 solid #929292;
}

#userlist {
    margin: 0.8em;
    overflow-y: auto;
    height: 82vh;
}

#usercard {
    height: 5.5em;
    border-radius: 5px;
    margin: 5px;
    padding: 1em 2em;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
}

#usercard:hover {
    background-color: #2c3b44;
}

#usercard h1,
h2 {
    margin: 0;
}
#usercard h2{
    color: #929292;
    font-weight: 400;
    font-size: 1.5em;
}
#usercard h2 span{
    color: #1EBEA5;
    font-weight: 500;
}

#usercard h1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.7em;
}

#usercard img {
    height: 5em;
    width: 5em;
    border-radius: 4em;
    margin-right: 2em;
    background-color: #0e181f;
}

::-webkit-scrollbar {
    width: 3px;
    margin-left: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124);
    width: 7px;
}

::-webkit-scrollbar:hover {
    width: 7px;
}

#userlisttop {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    color: #f0f0f0;
    position: relative;
}

.borderbars img {
    height: 3em;
    margin: 1em 0 1em 2em;
}

.borderbars h2 {
    color: #f0f0f0;
    margin-left: 0.5em;
    margin-top: 0.7em;
    font-weight: 300;
}

#chat {
    background-image: url("./assets/images/wall2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#userlisttop div {
    display: flex;
    align-items: center;
}

#userlisttop span {
    position: absolute;
    right: 0;
}

#userlisttop img {
    height: 2.5em;
    padding: 1em;
    margin-left: 0.2em;
    border-radius: 10px;

    &&:hover {
        background-color: #2c3b44;
    }
}

#chatboxcontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
}

#chatbox {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1000px;
    font-size: 7px;
    padding: 0 1em;
    flex-direction: column;
    height: 83.5vh;
    align-items: flex-start;
}

.recieverchat {
    border-radius: 15px;
    border-top-left-radius: 0;
    background-color: #2c3b44;
    align-self: flex-start;
}

.senderchat {
    border-radius: 15px;
    border-top-right-radius: 0;
    background-color: #075E54;
    align-self: flex-end;
}

.recieverchat,
.senderchat {
    padding: 1em;
    color: #f0f0f0;
    padding-bottom: 1.2em;
    font-size: 2em;
    display: block;
    margin-top: 0.5em;
    position: relative;
    max-width: 55%;
    min-width: 4em;
    /* min-height: 1.7em; */
    word-wrap: break-word;
}

.recieverchat span {
    position: absolute;
    font-size: 0.7em;
    bottom: 0.5em;
    right: 0.5em;
    padding-right: 1em;
    
}

.senderchat span {
    position: absolute;
    font-size: 0.7em;
    bottom: 0.5em;
    right: 0.5em;
    padding-right: 1em;
}

.senderchat div {
    margin: 0;
    max-width: 100%;
}

.recieverchat div {
    margin: 0;
    max-width: 100%;
}

.chatdate {
    position: sticky;
    top: 0.5em;
    align-self: center;
    font-size: 1.7em;
    color: #f0f0f0;
    padding: 0.5em;
    background-color: #0e181f;
    border-radius: 10px;
    margin-top: 0.5em;
    width: 5em;
    text-align: center;
}

#typechat {
    display: flex;
    width: 100%;
    background-color: #222E35;
    align-items: center;
    height: 4.5em;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    bottom: 0;
}

.react-emoji {
    flex-direction: row-reverse;
    align-self: flex-start;
    width: auto;
    max-height: 4em;
    align-items: center;
    padding-right: 1em;
}

.react-input-emoji--button {
    padding: 0.5em !important;
}

.react-input-emoji--button:hover {
    background-color: #2c3b44;
}

.react-input-emoji--container {
    overflow-y: auto;
    overflow-x: auto;
    background-color: #00000000 !important;
    color: #f0f0f0 !important;
    border: 0 !important;
    max-height: 2.7em;
    padding-right: 1em;
}

.react-input-emoji--input {
    max-width: 100%;
}

.react-input-emoji--wrapper {
    display: grid !important;
}

#typechat img {
    height: 2em;
    padding: 1em 2em;

    &&:hover {
        background-color: #2c3b44;
    }
}

#userdetail {
    display: flex;
    width: 100%;
    height: 6em;
    background-color: #222E35;
    align-items: center;
    justify-content: space-between;
}

#userdetail h2 {
    color: #f0f0f0;
}

#userdetail img {
    height: 2.5em;
    border-radius: 5px;
    padding: 1em;
}

#userdetail .avatar {
    height: 5em;
    padding: 0;
    margin-left: 2em;
    width: 5em;
    border-radius: 5em;
    /* border-color:#00000000 ; */
    background-color: #0e181f;
}

#side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#side img {
    height: 3em;
    width: 3em;
    margin: 2em 0;
}

#side span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#side span img {
    height: 3em;
    width: 3em;
    margin: 1em 0;
    border-radius: 25px;
}

#userlisttop .ant-select-single {
    width: 85%;
    font-size: 1.1em;
    border: 1px solid black;
    border-bottom: 3px solid #1EBEA5;
    color: #f0f0f0;
    border-radius: 5px;
    padding-right: 2px;
    background-color: #00000000;
}

#userlisttop .ant-select-selector {
    background-color: #00000000;
    border: #0e181f;
}

#userlisttop .ant-select-selector {
    color: #f0f0f0;
}

#userlisttop .ant-select-selection-placeholder {
    color: #929292;
}

#userlisttop button {
    &&:hover {
        background-color: #111B21;
    }
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: no-drop;
}

.online {

    border:3px solid #1EBEA5;
}

.offline {
    border: 3px solid #be1e1e;
}