#temp4 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    font-family: -apple-system system-ui BlinkMacSystemFont "Segoe UI"
        Helvetica Arial sans-serif "Apple Color Emoji"
        "Segoe UI Emoji"
        "Segoe UI Symbol";
    font-style: normal;
}

#temp4 #right {
    padding: 0 3%;
    position: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: #f0f0f0;
    color: #2e2e2e;
}

#temp4 #left {
    width: 40%;
    background-color: #2e2e2e;
    color: #ffffff !important;
    height: 100%;
}
#temp4 h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 1.5% 1.5% 0 1.5%;
    font-size: 3em;
    background: linear-gradient(to bottom, #f0f0f0 50%, #fff566 70%);
}
#temp4 h2 {
    padding: 1.5% 1.5%;
    font-size: 2.5em;
}
#temp4 h3{
    font-size: 2em;
}
#temp4 h4{
    font-size: 1.5em;
}
#temp4 p {
    font-size: 1em;
}
#temp4 #table {
    display: flex;

    flex-direction: column;
}
#temp4 .block {
    display: flex;

}
#temp4 .block h4 {
    width: 50%;
}
#temp4 img {
    width: 100%;
}
#temp4 #mid {
    text-align: center;
}
#temp4 #space {
    padding-left: 3%;
}